<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="xrayrequest_constring" value="Server=192.168.2.10;Database=pacs_gateway_banphai;Uid=root;Pwd=fmservice!;SslMode=none;CharSet=utf8;"/>
    <add key="xrayrequest_tbname" value="xray_request"/>
    <add key="xrayresult_constring" value="Server=192.168.2.10;Database=pacs_gateway_banphai;Uid=root;Pwd=fmservice!;SslMode=none;CharSet=utf8;"/>
    <add key="xrayresult_tbname" value="xray_result"/>
    <add key="mwlclient_constring" value="Server=192.168.2.10;Database=pacs_gateway_banphai;Uid=root;Pwd=fmservice!;SslMode=none;CharSet=utf8;"/>
    <add key="mwlclient_tbname" value="tb_mwlclient"/>
    <add key="interval" value="30"/><!--sec-->
    <add key="pacsurl" value=""/>
    <add key="aetitle" value="MWLXRAY"/>
    <add key="mwlport" value="11104"/>
    <add key="mwloutputencoding" value="Utf8"/>
    <add key="enabletimetoclearmwl" value="false"/>
    <add key="timetoclear" value="01:00:00"/>
    <add key="logpath" value="log"/>
  </appSettings>
</configuration>